name: CleanGithub

on:
  workflow_call:
    inputs:
      runner:
        description: 'Runner On ubuntu-latest or self-hosted'
        required: true
        type: string

permissions: write-all

jobs:
  CleanGithub:
    runs-on: ${{inputs.runner}}
    steps:
      - name: Delete old Releases and Workflows
        uses: ophub/delete-releases-workflows@main
        with:
          gh_token: ${{secrets.GITHUB_TOKEN}}
          delete_releases: true
          releases_keep_latest: 0
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 7
